<!-- Validation failure messages -->
<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Team <%= @team.team_name %></h3>
  <label class="control-label">Team Members</label>
    <% @team.users.each do |user| %>
      <li>
        <a href="/users/<%= user.id %>"><%= user.dropdown_name %></a>
      </li>
    <% end %>
  </h5>
</div>

  <div class="form-group">
    <label for="member_id" class="control-label">
      All Students Enrolled in <a href="/sessions/<%= @team.session.id %>"><%= @team.session.dropdown_text %></a>
     </label>

    <% @team.session.users.each do |user| %>
    <div class="row">
    <div class="col-md-12">
    <dl class="dl-horizontal">
      <dd>
        <a href="/users/<%= user.id %>"><%= user.dropdown_name %></a>
        <% member = Member.find_by(team_id: @team.id, user_id: user.id) %>
        <% if member.nil? %>
          <div class="form-group">
            <form action="/create_member" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input name="team_id" type="hidden" value="<%= @team.id %>">
              <input name="user_id" type="hidden" value="<%= user.id %>">
              <button class="btn btn-success">
                Add to team
              </button>
            </form>
          </div>
        <% end %>
      </dd>
    <% end %>
    </div>
    </div>

<div class="row">
  <div class="col-md-12 mb-2">
    <form action="/update_team/<%= @team.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input name="user_id" type="hidden" value="<%= @team.user_id %>">

      <!-- Label and input for session_id -->
      <div class="form-group">
        <label for="session_id" class="control-label">
          Session
        </label>

        <%= select_tag(:session_id, options_from_collection_for_select(Session.all, :id, :dropdown_text, @team.session_id), :class => "form-control") %>
      </div>

      <!-- Label and input for team_name -->
      <div class="form-group">
        <label for="team_name" class="control-label">
          Team name
        </label>

        <input type="text" id="team_name" name="team_name" placeholder="Team name" class="form-control" value="<%= @team.team_name %>">
      </div>

      <button class="btn btn-warning">
        Update Team
      </button>
      or
      <a href="/teams/<%= @team.id %>">Cancel</a>
    </form>
  </div>
</div>
