<div class="page-header">
  <h1>
    Teams
    <a href="/teams/new" class="btn btn-lg btn-success">New Team</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Session</th>
        <th>Team name</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @teams.each do |team| %>
      <tr>
        <td>
          <% if team.session.present? %>
            <a href="/sessions/<%= team.session.id %>">
              <%= team.session.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= team.team_name %></td>
        <td>
          <% if team.user.present? %>
            <a href="/users/<%= team.user.id %>">
              <%= team.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/teams/<%= team.id %>" class="btn btn-primary">Show</a>
          <a href="/teams/<%= team.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_team/<%= team.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @teams, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
