<div class="page-header">
  <h3><%= @user.dropdown_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Enrolled Sessions</dt>
      <% if @user.registrations.present? %>
        <% @user.registrations.each do |registration| %>
        <dd>
          <p>
            <a href="/sessions/<%= registration.session.id %>"><%= registration.session.dropdown_text %></a>
          </p>
        </dd>
        <% end %>
      <% end %>

      <dt>Skills</dt>
      <% if @user.skills.present? %>
        <% @user.skills.each do |skill| %>
          <dd>
            <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
          </dd>
        <% end %>
      <% end %>
      
      <dt>Teams</dt>
      <% if @user.teams.present? %>
        <% @user.teams.each do |team| %>
          <dd>
            <a href="/teams/<%= team.id %>"><%= team.team_name %></a>
          </dd>
        <% end %>
      <% end %>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>

  </div>
</div>


