<div class="page-header">
  <h3>Registration #<%= @registration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @registration.user.present? %>
          <a href="/users/<%= @registration.user_id %>">
            <%= @registration.user.dropdown_name %>
          </a>
        <% end %>
      </dd>

      <dt>Session</dt>
      <dd>
        <% if @registration.session.present? %>
          <a href="/sessions/<%= @registration.session_id %>">
            <%= @registration.session.dropdown_text %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/registrations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @registration.user %>
        <a href="/registrations/<%= @registration.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_registration/<%= @registration.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
