<!-- Validation failure messages -->
<% if @skill.errors.any? %>
  <% @skill.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Skill #<%= @skill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_skill/<%= @skill.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @skill.user_id %>">
      </div>

      <!-- Label and input for skill -->
      <div class="form-group">
        <label for="skill" class="control-label">
          Skill
        </label>

        <input type="text" id="skill" name="skill" placeholder="Skill" class="form-control" value="<%= @skill.skill %>">
      </div>

      <button class="btn btn-warning">
        Update Skill
      </button>
      or
      <a href="/skills/<%= @skill.id %>">Cancel</a>
    </form>
  </div>
</div>
