<div class="page-header">
  <h1>
    Skills
    <a href="/skills/new" class="btn btn-lg btn-success">New Skill</a>
  </h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Skills</th>
        <th>People with this skill</th>
      </tr>

      <% Skill.all.each do |skill| %>
      <tr>
        <td>
          <a href="/skills/<%= skill.id %>">
            <%= skill.skill %>
          </a>
        </td>
        <td>
          <% skill.users.each do |user| %>
            <p>
              <a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a> 
              
              <% if current_user.id == user.id %>
              <% tagging = Tagging.find_by(user_id: current_user.id, skill_id: skill.id) %>
              <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">Unselect</a>
              <% end %>
            </p>
          <% end %>
        </td>      
      </tr>
      <% end %>
    </table>
    <%= paginate @skills, theme: 'twitter-bootstrap-4' %>

  <!--<ul class="list-group">-->
  <!--<li class="list-group-item">-->
  <!--  <div class="form-group">-->
  <!--    <label for="skill" class="control-label">-->
  <!--      Add a new Skill-->
  <!--    </label>-->
      
  <!--    <form action="/create_skill" method="post">-->
  <!--      <div class="input-group">-->

  <!--      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">-->
  <!--      <input type="text" id="skill" name="skill" placeholder="Skill name">-->

  <!--      <button class="btn btn-block btn-success" type="submit">-->
  <!--        Add-->
  <!--      </button>-->
  <!--    </form>-->
  <!--  </div>-->
  <!--</li>-->
  <!--</ul>-->
</div>
</div>
