<div class="page-header">
  <h3><%= @skill.skill %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Who has this skill?
      </li>

      <% @skill.users.each do |user| %>
      <li class="list-group-item">
        <a href="/users/<%= user.id %>"><%= user.dropdown_name %></a>
          <% if current_user.id == user.id %>
            <div class="btn-group btn-group-xs pull-right">
              <!--<a href="/skills/<%= @skill.id %>/edit" class="btn btn-warning">-->
              <!--  Edit-->
              <!--</a>-->
              <% tagging = Tagging.find_by(user_id: current_user.id, skill_id: @skill.id) %>
              <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
                Unselect this skill
              </a>
            </div>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
      

<!-- Adding skill if not currently my skill -->
<% skill = current_user.skills.find_by(id: @skill.id) %>
  <% unless skill.present? %>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item">
          <form action="/create_tagging" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
          <!-- Label and input for skill_id -->
          <input type="hidden" name="skill_id" value="<%= @skill.id %>">
    
          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
    
          <button class="btn btn-block btn-success">
            Add to my skills
          </button>
          </form>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
